#splashScreen   {
    background-color: #e9a502;
    height:100vh;
}

#splashScreen .col {
    margin-top: 180px;
}

#splashLogo {
    height: 420px;
}

body {
    background-color: #e9a502;
}

#appContent {
    display:none;
    margin-top: 60px;
}

#contentLogo {
    max-height: 180px;
    max-width: 100%;
}

#header {
    /* vertical-align: center; */
    position: relative;
    bottom: 0px;
    height: fit-content;
}

#coordinateInput {
    background-color: transparent;
}

form {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 45px;
    position: relative;
    bottom: 0px;
}

label {
    color: #ffffff;
}

.input-field {
    color: #ffffff;
    margin-top: 0px;
}

.input-field>label {
    color: #ffffff;
}

#coordinateSubmit {
    background-color: #4A2C1A;
}

#searchContent {
    box-shadow: 10px 10px 10px #4A2C1A;
    padding-right: 0px;
}

#markerMap {
    margin-bottom: -20px;
    height: 450px;
    width: 100%;
}

#resultsHolder {
    margin-right: 0px;
    padding-right: 0px;
}

#searchResults {
    margin-top: 0px;
    margin-right: -12px;
    margin-bottom: 0px;
    margin-left: -35px;
}

.searchHeader {
    background-color: #4A2C1A;
    height: 30px;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    padding: 3px;
    font-size: 20px;
}

.searchList {
    background-color: #A36301;
    height: 195px;
    color: #ffffff;
    overflow-y: scroll;
}

a {
    color: #ffffff;
}

#brewery-body{
    max-height: 380px;
    overflow: auto;
}

.searchList :hover{
    color: #25cef9;
}

/* Scrollbar Properties */
/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent; 

@media only screen and (max-width: 600px) {
    .container{
        width: 100%;
    }
    .row {
      margin-bottom: 5px;
    }
    .input-field {
        margin-bottom: 0;
    }
    .modal {
        width: 100%;
    }
  }
  