#splashScreen   {
    background-color: #e9a502;
    height:100vh;
}

#splashScreen .col {
    margin-top: 180px;
}

#splashLogo {
    height: 420px;
}

body {
    background-color: #e9a502;
}

#appContent {
    display:none;
    margin-top: 60px;
}

form {
    /* vertical-align: center; */
    margin-top: 5%;
}

#markerMap {
    height: 450px;
    width: 100%;
}

#brewery-body{
    max-height: 380px;
    overflow: auto;
}

li :hover{
    color: red;
}

@media only screen and (max-width: 600px) {
    .container{
        width: 100%;
    }
    .row {
      margin-bottom: 5px;
    }
    .input-field {
        margin-bottom: 0;
    }
    .modal {
        width: 100%;
    }
  }
  