#splashScreen   {
    background-color: #e9a502;
    height:100vh;
}

#splashScreen .col {
    margin-top: 180px;
}

#splashLogo {
    height: 420px;
}

body {
    background-color: #e9a502;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    background-color: #e9a502 ;
}

.btn {
    background-color: #4A2C1A !important;
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 300;
    font-size: 25px !important;
    margin-top: 3px;
    
}

#appContent {
    display: none;
    margin-top: 60px;
    flex: 1 0 auto;
}

#contentLogo {
    max-height: 240px;
    max-width: 100%;
}

#header {
    /* position: relative;
    bottom: 0px; */
    height: fit-content;
}

#coordinateInput {
    background-color: transparent;
    padding-bottom: 10px !important;
    vertical-align: baseline;
}

#formRow {
    padding-right: 0px;
    padding-left: 0px;
    position: relative;
    bottom: 0px;
    vertical-align: baseline;
}

.radiusSearch {
    position: relative;
    top: 10px;
    overflow-wrap: break-word;
    vertical-align: baseline;
}

#searchGlass {
    width: 30px;
}

input {
    color: #ffffff !important;
    margin-top: 0px;
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 500;
    font-size: 30px !important;
}

.input-field label {
    color: #ffffff;
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 500;
    font-size: 30px !important;
}
.input-field input:focus + label {
    color: #4a2c1a !important;
    font-size: 30px !important;
    margin-top: -20px !important;
}

.input-field input {
    border-bottom: 1px solid #a36301 !important;
    box-shadow: 0 1px 0 0 #a36301 !important;
}
.input-field input:focus {
    border-bottom: 1px solid #ffffff !important;
    box-shadow: 0 1px 0 0 #ffffff !important;
}

input::-webkit-input-placeholder {
    color: #ffffff;
}
input::-moz-placeholder {
    color: #ffffff;
}
input:-moz-placeholder {
    color: #ffffff;
}
input:-ms-input-placeholder {
    color: #ffffff;
}

#coordinateSubmit {
    background-color: transparent; 
    background-image: none;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    box-shadow: none;
    position: relative;
    top: 35px;
    /* margin-left: -20px !important; */
}

.breweryModal{
    max-width: 550px;
}

#breweryBox {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 500px;
    min-height: 450px;
    background-color: black;
    color: white;
    padding: 10px;
}

#breweryImageBox {
margin: auto;
max-width: 400px;
}

.carousel-item img {
    max-height: 250px;
}

.stars-outer {
display: inline-block;
position: relative;
font-family: FontAwesome;
}
   
.stars-outer::before {
content: "★★★★★";
}
   
.stars-inner {
position: absolute;
top: 0;
left: 0;
white-space: nowrap;
overflow: hidden;
width: 0;
}
   
.stars-inner::before {
content: "★★★★★";
color: #f8ce0b;
}

.breakLine {
margin: auto;
width: 80%;
border-top: solid darkgrey 1px;
}

#searchContent {
    box-shadow: 10px 10px 10px -6px rgb(75, 44, 26);
    padding-right: 0px;
    width: 100%;
}

#markerMap {
    margin-bottom: -20px;
    height: 450px;
    width: 100%;
    border-right: 3px solid #4A2C1A;
}

#resultsHolder {
    margin-right: 0px;
    padding-right: 0px;
    /* width: 240px; */
}

#searchResults {
    margin-top: 0px;
    margin-right: -12px;
    margin-bottom: 0px;
    margin-left: -35px;
}

.searchHeader {
    background-color: #4A2C1A;
    height: 55 px;
    color: #ffffff;
    text-align: left;
    box-shadow: 0px 4px 4px rgb(75, 44, 26, 0.5);
    position: relative;
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 500;
    font-size: 35px !important;
}

.searchList {
    background-color: #A36301;
    height: 167px;
    color: #ffffff;
    overflow-y: scroll;
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 300;
    font-size: 25px !important;
}

a {
    color: #ffffff;
}

#mtb-header {
    padding: 3px;
    padding-left: 18px;

}

#brewery-header {
    padding: 3px;
    padding-left: 18px;
}

#mtb-body {
    padding: 6px;
    padding-left: 18px;
}

#brewery-body   {
    padding: 6px;
    padding-left: 18px;
}

.searchList :hover{
    color: #25cef9;
}

#brewAdressModal a {
    color: rgb(66, 102, 245);
}

footer {
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 300;
    font-size: 20px !important;
    color: #a36301;
    border-top: 2px solid #a36301;
    width: 100%;
    height: 60px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    display: none;
    background-color: transparent;
    padding: 0px 10px 10px 10px;
  }

/* Scrollbar Properties */
/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: transparent; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: transparent; 
}

@media only screen and (max-width: 992px) {
    #searchContent {
        box-shadow: none;
    }

    #markerMap {
        box-shadow: 10px 10px 10px -6px rgb(75, 44, 26);
        border: none;
    }

    .listData {
        color: #a36301 !important;
        font-family: futura-pt-condensed, sans-serif;
        font-weight: 500;
        font-size: 25px !important;
    }

    .dropdown-trigger {
        width: 100%;
    }

    .input-field label {
        font-weight: 500;
        font-size: 28px !important;
    }
    .input-field input:focus + label {
        font-size: 28px !important;
        margin-top: -30px !important;
    }  

    #dist {
        font-size: 28px !important;
    }

}

@media only screen and (max-width: 550px) {
    .container{
        width: 100%;
    }

    .row {
      margin-bottom: 5px;
    }

    .input-field {
        margin-bottom: 0;
    }

    .modal {
        width: 100%;
    }

    .btn {
        font-family: futura-pt-condensed, sans-serif;
        font-weight: 300;
        font-size: 18px !important;
    }

    .input-field label {
        font-size: 20px !important;
        margin-top: -20px !important;
    }

    .input-field input:focus + label {
        font-size: 20px !important;
        margin-top: -30px !important;
    } 

    #dist {
        font-size: 20px !important;
    }

    .footerP {
        font-size: 15px;
        line-height: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media only screen and (max-width: 328px) {
    #splashScreen .col {
        margin-top: 120px;
    }
    
    .input-field label {
        margin-top: -48px !important;
    }

    .input-field input:focus + label {
        margin-top: -48px !important;
    } 
}